[[File:Thailand Loei locator map.svg|thumb|right]]

{{en|1=Loei is one of the most sparsely populated provinces of Thailand, located in the North-East of Thailand}}
{{th|1=จังหวัดเลย เลย เป็นจังหวัดหนึ่งในภาคตะวันออกเฉียงเหนือตอนบน}}
{{Wikidata Infobox}}

[[category:Provinces of Thailand]]
[[Category:Isan]]
พันจ่าโทวิศิษฎ์ ทองโม้[[File:Seal Loei.png|thumb|Provincial seal of Loei province.]]
https://commons.wikimedia.org/w/index.php?title=Category:Loei_Province&action=edit
https://commons.wikimedia.org/wiki/File:Seal_Loei.png
