[[File:Thailand Loei locator map.svg|thumb|right]]

{{en|1=Loei is one of the most sparsely populated provinces of Thailand, located in the North-East of Thailand}}
{{th|1=จังหวัดเลย เลย เป็นจังหวัดหนึ่งในภาคตะวันออกเฉียงเหนือตอนบน}}
{{Wikidata Infobox}}

[[category:Provinces of Thailand]]
[[Category:Isan]]
พันจ่าโทวิศิษฎ์ ทองโม้[[File:Seal Loei.png|thumb|Provincial seal of Loei province.]]
https://commons.wikimedia.org/w/index.php?title=Category:Loei_Province&action=edit
https://commons.wikimedia.org/wiki/File:Seal_Loei.png
https://gdcatalog.go.th/organization/99b8ec40-feea-40ed-b089-36ecaa42c995?license_id=Open+Data+Common&data_type=%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%A1%E0%B8%B9%E0%B8%A5%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%9A%E0%B8%B5%E0%B8%A2%E0%B8%99
https://tdga.dga.or.th/index.php?lang=th
จังหวัดเลย
